html,
body {
  padding: 0;
  margin: 0;
}
.leaflet-container {
  position: absolute;

  height: 100%;
  width: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.newsmap-map-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}
